@import "tailwindcss";

@theme {
  --color-main: #00977E;
  --color-dark: #121212;
  --color-light: #F8F9FA;
  
  --font-family-sans: Inter, sans-serif;
  --font-family-heading: Inter, sans-serif;
}

/* Variables CSS personalizadas */
:root {
  --background: #F8F9FA;
  --foreground: #121212;
}

.dark {
  --background: #121212;
  --foreground: #F8F9FA;
}

/* Estilos base */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #00977E;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00b395; /* Lighter shade for hover */
}

/* Selección de texto */
::selection {
  background: rgba(0, 151, 126, 0.3);
  color: inherit;
}